body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    background-color:darkblue;
    border: burlywood;
    font-size: larger;
}
#footer_platzi_practice{
    font-family: Arial, Helvetica, sans-serif;
    color: yellowgreen;
    background-color: white;
    margin: 10%;
}