body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    background-color:darkblue;
    border: burlywood;
    font-size: larger;
}
#titular{
    background-color: white;
    height: 60px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
#footer_platzi_practice{
    font-family: Arial, Helvetica, sans-serif;
    color: yellowgreen;
    background-color:white;
    margin: 10%;
}